* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* default colors */
html {
  --defaultBackground: #F0BDDD;
  --tittle: #BDF0D7;
  --htmlBackground: #E4D5E8;
  --warningBackground: #FF6E6E;
  --listBackground: #BDD4F0;
  --exampleBackground: #DBF0BD;

  --h1Size: clamp(1.3rem, 3.45vw, 3.1rem);
  --h2Size: clamp(1.1rem, 2.9vw, 2.7rem);
  --h3Size: clamp(1.05rem, 2.65vw, 2.65rem);
  --h4Size: clamp(0.85rem, 2.2vw, 2.1rem);
  --h5Size: clamp(0.8rem, 2vw, 2rem);
  --paragraphSize: clamp(0.8rem, 1.9vw, 1.2rem);
}

html {
  background-color: var(--htmlBackground);

}

main,
article,
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  background-color: var(--tittle);
  align-self: stretch;
  border-radius: 8px;
}

article,
header {
  background-color: var(--defaultBackground);
}

header {
  border-bottom: 2px solid black;
}

main {
  gap: 5px;
}
h1 {
  font-size: var(--h1Size);
}
h2 {
  font-size: var(--h2Size);
}
h3 {
  font-size: var(--h3Size);
}
h4 {
  font-size: var(--h4Size);
}
h5 {
  font-size: var(--h5Size);
}


p,
li {
  font-size: var(--paragraphSize);
}

article {
  border: 2px solid black;
  margin: 5px;
  padding: 4px;
  border-radius: 8px;
}

img {
  margin-top: 2px;
  width: 42vw;
  height: 31vw;
  border-radius: 10px;

}

ul,
ol {
  background-color: var(--listBackground);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: left;
  padding: 28px;
  border-radius: 10px;

  margin: 3px;
}

ul>p,
ol>p {
  justify-self: center;
  align-self: center;
  text-align: center;
  font-weight: bold;

}


li>p {
  border-radius: 10px;
  padding: 5px;
}

.warning {
  background-color: var(--warningBackground);
}

.example {
  background-color: var(--exampleBackground);
}
